@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.containerMain{
    background: url("../img/background.png") no-repeat fixed 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerQuiz{
    margin-top: 60px;
    position: relative;
    background-color: white;
    width: 450px;
    height: 500px;
    border-radius: 24px;
}
.containerQuiz #title{
    color: white;
    position: absolute;
    font-weight: 700;
    font-size: 36px;
    top: -60px;
}
.containerMain #worldImage{
    position: absolute;
    top: -90px;
    right: 30px;
}
.questions{
    flex-direction: column;
    width: 100%;
    height: 90%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;

}
.questions h2{
    text-align: center;
}
.questions p{
    display: inline;
    font-size: 18px;
}
.questions #lettersAnswer{
    position: absolute;
    padding-left: 30px;
    font-size: 18px;
}
.questions #numCorrectAnswer{
    color: #6FCF97;
    font-weight: 700;
    font-size: 32px;
}
.questions #results{
    color: #1D355D;
    font-size: 48px;
    font-weight: 700;
}
.questions .answer{
    color: #5256A1;
    cursor: pointer;
    border: 1px solid #5256A1;
    border-radius: 12px;
    text-decoration: none;
    height: 100%;
    width: 100%;
}
.questions .answer:hover{
    background: #F9A826;
    color: white;
    border: none;
}
.questions #tryAgain{
    margin-top: 50px;
    background-color: white;
    border-radius: 12px;
    border: 2px solid #1D355D;
    padding: 15px 55px;
    cursor: pointer;
}
.questions #tryAgain a{
    text-decoration: none;
    font-weight: 600;
    color: #1D355D;
}
.questions div{
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    color: #5256A1;
}

